.intro {
    padding: 50px 0 0;
}

.intro__title h1{
    font-size: 2.5em;
    font-weight: 300;
}

@media (max-width: 1200px) {
    .intro__title h1 {
        font-size: 2.3em;
    }
}

@media (max-width: 992px) {
    .intro {
        padding: 0;
    }

    .intro__title h1 {
        font-size: 2.1em;
    }
}

@media (max-width: 767px) {
    .intro__title h1 {
        font-size: 1.9em;
        margin-bottom: 10px;
    }
}

.cart {
    margin: 30px 0 0;
    width: 60%;
}

@media (max-width: 767px) {
    .cart {
        margin: 30px 0 0;
        width: 100%;
    }
}

.cart__row {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px 15px;
}

.cart__row:first-child {
    font-weight: 600;
    border-bottom: 1px solid #555555;
}

.cart__item {
    flex: 0 0 50%;
}

.cart__item a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.cart__item a:hover {
    color: #777;
}

.cart__amount {
    flex: 0 0 auto;
    text-align: center;
}

.cart__price {
    flex: 0 0 20%;
    text-align: right;
}

.cart__total {
    border-top: 1px solid #555555;
    padding: 15px 0;
    flex: 1 0 100%;
    text-align: right;
}

.cart__btn {
    box-sizing: border-box;
    background-color: #e1e1e1;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.cart__btn:hover {
    cursor: pointer;
    background-color: #d1d1d1;
}
