.content {
   color: #333;
}

.intro__inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   padding: 50px 0 0;
   margin: 0 0 20px;
}

@media (max-width: 992px) {
   .intro__inner {
      padding: 0;
   }
}

.intro__title {
   flex: 0 1 70%;
}

@media (max-width: 767px) {
   .intro__title {
      flex: 0 1 auto;
   }
}

.title__header h1 {
   font-weight: 300;
}

.title__btn {
   display: flex;
   flex-wrap: wrap;
}

.category-btn {
   box-sizing: border-box;
   background-color: #e1e1e1;
   padding: 10px 20px;
   margin: 0 15px 15px 0;
   text-decoration: none;
   color: #333;
   font-weight: 500;
}

.category-btn:hover {
   cursor: pointer;
}

.active-btn {
   background-color: #333;
   color: #fafafa;
}

.intro__icon {
   display: flex;
   justify-content: center;
   flex: 0 0 30%;
}

.big-icon {
   width: 200px;
}

@media (max-width: 767px) {
   .intro__icon {
      display: none;
   }
}

.content-list__row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 50px 0 0;
}

.content-list__row:after {
   content: "";
   flex: 0 1 31%;
}

.content-list__column {
   margin: 0 0 40px;
   display: flex;
   padding: 0 10px;
}

.content-list__text-column {
   flex: 0 1 45%;
   margin: 0 0 50px;
}

.item {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 200px;
}

.item__img {
   overflow: hidden;
   margin: 0 15px 10px;
}

.item__img img {
   max-width: 150px;
   width: auto;
}

.item__title {
   font-size: 1.2em;
   font-weight: 500;
   text-align: center;
   margin: 0 0 10px;
}

.item__title a {
   color: #333;
   text-decoration: none;
}

.item__price {
   margin: 0 0 25px;
}

.item__buy-btn {
   margin: 0 0 15px;
}

.item__buy-btn a {
   box-sizing: border-box;
   background-color: #e1e1e1;
   padding: 10px 20px;
   text-decoration: none;
   color: #333;
   font-weight: 500;
   font-size: 0.9em;
}

.item__buy-btn a:hover {
   background-color: #d1d1d1;
}

.text-item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.text-item__title {
   border-bottom: 2px solid #333;
   padding: 0 10px 10px;
   margin: 0 0 10px;
}

.text-item__title h2 {
   font-weight: 500;
}

.text-item__description {
   text-align: justify;
   line-height: 24px;
}

.item__amount-out {
   color: #2c8d2a;
}

.btn {
   background-color: #398330;
   border: none;
   border-radius: 10px;
   width: 100%;
   height: 100%;
   color: #fff;
   text-align: center;
   font-family: inherit;
   font-size: inherit;
   transition: all 300ms;
   cursor: pointer;
}

.btn:hover {
   background-color: #439838;
}

.btn__link {
   display: block;
   padding: 10px 0;
   color: #fff;
   text-decoration: none;
}
